@model IEnumerable<Prova.Models.Clientes>

@{
    ViewBag.Title = "Cliente";
}

<h2>Cliente</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sobrenome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataCadastro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ativo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sobrenome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCadastro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ativo)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ClienteId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ClienteId }) |
                <a onclick="deletar(@item.ClienteId)">Deletar</a>
            </td>
        </tr>
    }

</table>

<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Confirmar</h4>
            </div>
            <div class="modal-body">
                     <p>Deseja reamente fazer a Excusão do </p>
                <p class="text-warning"><small>Apos confirmar o serviço será excluso.</small></p>
            </div>
            <div class="modal-footer">
                <input type="button" value="Cancelar" class="btn btn-default" data-dismiss="modal" aria-hidden="true" />
                <input type="button" value="Confirmar" onclick="deletarCliente()" class="btn btn-primary" />
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var id;
    function deletar(id)
    {
        this.id = id;

        $('#myModal').modal({
            keyboard: true
        });
    }

    function deletarCliente() {
        var url = "/api/Cliente";

        $.ajax({
            url: url,
            type: 'DELETE',
            data: id,
            success: function (result) {
                $('.alert-success').fadeIn().html("<span>Cliente excluido com sucesso!</span>")
            },
            fail: function (jqXHR, textStatus, errorThrown) {
                $('.alert-success').fadeIn().html(errorThrown)
            }
        });
    }
</script>
